html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #FFF;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

input,
button,
figure {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.05em;
    color: #FCFBF7;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    background: #212224;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    margin: 50px;
}

.header__img img{
    max-width: 100px;
}

.header__contacts-items {
    margin-right: 100px;
}

.header__contacts-item {
    margin-bottom: 15px;
}